# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.SqlInsertComparison.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\BirgirKaldalKristman\RiderProjects\SqlInsertComparison\.idea\.idea.SqlInsertComparison\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
